{
	"presets": ["@babel/preset-env"],
	"plugins": [
	    ["@babel/transform-runtime"],
    	["module-resolver", {
	      "root": ["./src"],
	      "alias": {
	      	"cache": "./src/cache",
	      	"configs": "./src/configs",
	      	"controllers": "./src/controllers",
	      	"helpers": "./src/helpers",
	      	"hooks": "./src/hooks",
	      	"init": "./src/init",
	      	"models": "./src/models",
	      	"queues": "./src/queues",
	      	"repos": "./src/repos",
	      	"routes": "./src/routes",
	      	"services": "./src/services",
	      	"uploaders": "./src/uploaders",
	      }
    	}]
	]
}